{
  "github_token": "ghp_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
  "github_downloads": 2,
  "discord_error_webhook_url": "/api/webhooks/xxxxxxxxxxxxxxxxxxxxxxxxxxx",
  "port": 8080,
  "weblink": {
    "url": "https://github.com/BentoBoxWorld/weblink.git",
    "path": "./../data/weblink",
    "branch": "master"
  },
  "discord_client_id": "0000000000000000000",
  "discord_client_secret": "REPLACE_ME",
  "discord_redirect_uri": "https://download.bentobox.world/api/auth/discord/callback",
  "weblink_github_token": "github_pat_REPLACE_ME",
  "admin_discord_ids": ["REPLACE_WITH_DISCORD_USER_ID"]
}
